body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: beige;
}

.container{
    margin-top: 10%;
}

.width{
    width: 400px;
}

.height{
    height: 40px;
}
